#map {
  height: 500px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width:767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.actions-container {
  margin: 10px 0;
}

.statistics-container {
  display: flex;
  gap: 40px;
  margin: 20px 0;

  .label {
    font: var(--mat-sys-body-small);
  }

  .value {
    display: flex;
    align-items: last baseline;
  }

  .amount {
    font: var(--mat-sys-display-medium);
  }
 
}


.graph-controls {
  margin: 40px 0 10px;

  .explanation {
    font: var(--mat-sys-body-small);
  }
}
