@if (ride()) {
  <div role="presentation" class='top'>
    <div>
      <h1>{{ride()!.name}}</h1>
      <div class = 'start-date'>{{ride()!.startDate | date:'EEEE dd MMMM yyyy'}}</div>
    </div>
    <div class='actions-container'>
      <button mat-button (click)="back()" id="back-button">Retour</button>
      <button mat-button (click)="export(ride()!.id)" id="export-button">Exporter en GPX</button>
    </div>
  </div>
  <div class='statistics-container'>
    <app-statistic-tile id = 'stat-distance' label="Distance" unit="km" [value]="Math.round(ride()!.distance / 1000)"></app-statistic-tile>
    <app-statistic-tile id = 'stat-driving-duration' label="Durée de route" unit="" [value]="drivingDuration() | date: 'HH:mm':'UTC'"></app-statistic-tile>
    <app-statistic-tile id = 'stat-break-duration' label="Durée de pause" unit="" [value]="pauseDuration() | date: 'HH:mm':'UTC'"></app-statistic-tile>
    <app-statistic-tile id = 'stat-average-speed' label="Vitesse moyenne" unit="km/h" [value]="averageSpeed()"></app-statistic-tile>
    <app-statistic-tile id = 'stat-max-speed' label="Vitesse maxi" unit="km/h" [value]="maxSpeed()"></app-statistic-tile>
    <app-statistic-tile id = 'stat-max-tilt' label="Angle maxi" unit="degrés" [value]="maxTilt()"></app-statistic-tile>
  </div>
  <app-ride-map-google [ride]="ride()!" [showLabels]="showMapLabels()" (showLabelsUpdated)="showLabelsUpdated($event)"></app-ride-map-google>
  <div class='speed-zones'>
    @for (zone of speedZones(); track zone) {
      <div [style.background-color]="getSpeedZoneColor(zone.zone)" class = 'zone'>
        <div>{{(zone.distance / ride()!.distance * 100).toFixed(1)}} %</div>
        <div class = 'explanation'>{{getSpeedZoneDescription(zone.zone)}}</div>
      </div>
    }
  </div>
  <div class='chart-controls'>
    @if (ride()!.logs!.length > 1000) {
      <mat-checkbox [formControl]="interpolateCheckbox" aria-label="Interpolation">
        Active l'interpolation
        <div class='explanation' role="presentation">
          Lorsque l'interpolation est activée et que le trajet comporte plus de 1000 points GPS, le système va
          n'afficher qu'environ 1000 points, en y attribuant une moyenne des valeurs des points intermédiaires.<br />
          Il en resultera un lissage des courbes mais une perte de précision sur les valeurs de crête.
        </div>
      </mat-checkbox>
    }
  </div>
  <canvas #speedChart></canvas>
  <canvas #tiltChart></canvas>
}
