<ng-container *ngIf="(ride$ | async) as ride">

  <div role="presentation" class = 'top'>
    <div>
      <h1>{{ride.name}}</h1>
      <div>{{ride.startDate | date:'EEEE dd MMMM yyyy'}}</div>
    </div>

    <div class = 'actions-container'>
      <button mat-button (click)="back()">Retour</button>
      <button mat-button (click)="export(ride.id)">Exporter en GPX</button>
    </div>

  </div>
  
  <div class = 'statistics-container'>
    <div class = 'statistic'>
      <div class = 'label'>Distance</div>
      <div class = 'value'>
        <div class = 'amount'>{{Math.floor(ride.distance / 1000)}}</div>
        <div class = 'unit'>km</div>
      </div>
    </div>
    
    <div class = 'statistic'>
      <div class = 'label'>Durée de route</div>
      <div class = 'value'>
        <div class = 'amount'>{{(drivingDuration$ | async) | date: 'HH:mm':'UTC'}}</div>
        <div class = 'unit'></div>
      </div>
    </div>

    <div class = 'statistic'>
      <div class = 'label'>Durée de pause</div>
      <div class = 'value'>
        <div class = 'amount'>{{(pauseDuration$ | async) | date: 'HH:mm':'UTC'}}</div>
        <div class = 'unit'></div>
      </div>
    </div>

    <div class = 'statistic'>
      <div class = 'label'>Vitesse moyenne</div>
      <div class = 'value'>
        <div class = 'amount'>{{averageSpeed$ | async}}</div>
        <div class = 'unit'>km/h</div>
      </div>
      
    </div>

    <div class = 'statistic'>
      <div class = 'label'>Vitesse maxi</div>
      <div class = 'value'>
        <div class = 'amount'>{{maxSpeed$ | async}}</div>
        <div class = 'unit'>km/h</div>
      </div>
    </div>

    <div class = 'statistic'>
      <div class = 'label'>Angle maxi</div>
      <div class = 'value'>
        <div class = 'amount'>{{maxTilt$ | async}}</div>
        <div class = 'unit'>degrés</div>
      </div>
    </div>
    
  </div>
  

  <div #map style="height: 500px"></div>
  

  <canvas #speedChart></canvas>

  <canvas #tiltChart></canvas>

</ng-container>
