@use '@angular/material' as mat;

.map-container {

  @include mat.fab-overrides((
    small-foreground-color: grey,
    small-container-color: #131314,
    small-container-elevation-shadow: none,
    small-hover-container-elevation-shadow: none,
    small-container-shape: 16px
  ));

  position: relative;

  .map {
    height: 600px;
  }

  .actions {
    --mdc-icon-button-icon-color: #fff;

    position: absolute;
    top: 10px;
    right: 10px;
  }

  &.full-screen {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .map {
      height: 100%;
    }

  }
}
