$timeline-color: var(--mat-sys-primary);

.filter-container {
  margin: 20px 0;
}

.timeline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rides {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.ride {
  display: flex;
  flex-direction: row;

  .timeline-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $timeline-color;
    width: 65px;
    flex-shrink: 0;
    flex-grow: 0;
    
    .day {
      font: var(--mat-sys-title-large);
    }

    .month {
      font: var(--mat-sys-title-small);
    }
   }

  .timeline-line {
    position: relative;
    width: 20px;
    flex-shrink: 0;
    
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      top:0;
      left: 50%;
      bottom: 0;
      background-color: $timeline-color;
      transform: translateX(-50%);
    }

    &.with-date::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      left: 50%;
      top: 50%;
      border-radius: 100%;
      background-color: $timeline-color;
      transform: translate(-50%, -50%);
    }
  }

  .card {
    margin: 10px 0;
    flex: 1;
    
    .card-content {
      display: flex;
      align-items: center;

      @media (max-width:767px) {
        flex-direction: column;
        align-items:stretch;
      }

      .card-left {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
    }
  }
}

.ride-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  
  .distance {
    position: relative;
    flex: 1 1 100%;
    text-align: center;
    max-width: 150px;
    
    &::before {
      content: '';
      height: 2px;
      left:0;
      width: 100%;
      position: absolute;
      top: 50%;
      background-color: var(--mat-sys-on-surface);
    }

    div {
      position: relative;
      background-color: var(--mdc-outlined-card-container-color, var(--mat-sys-surface));
      display: inline-block;
      padding: 10px;
    }
    
  }

  .location {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

    &.departure {
      align-items: flex-end;
      text-align: end;
    }

    &.arrival {
      align-items: flex-start;
      text-align: start;
    }
  }
}

.ride-date {
  position: absolute;
  display: block;
  top: 7px;
  right: 10px;
  font-size: 12px;
}

.ride-name {
  font: var(--mat-sys-title-medium);
  margin-bottom: 10px;
}