@use '@angular/material' as mat;


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0}

body {
  background: var(--fb-background);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}


.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}


:root {
  --fb-red: #ea2b1f;
  --fb-background: #F9F9F9;
  --mat-sys-surface: #F9F9F9;


  @include mat.theme((
    color: mat.$red-palette,
    typography: Roboto,
    density: 0,
  ));

  @include mat.card-overrides((
    outlined-container-color: #fff,
    outlined-container-shape: 10px 0,
  ));
}