@use '@angular/material' as mat;


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0}

body {
  background: var(--fb-background);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}


.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


:root {
  --fb-red: #ea2b1f;
  --fb-background: #F9F9F9;
  --mat-sys-surface: var(--fb-background);

  @include mat.theme((
    color: mat.$red-palette,
    typography: Roboto,
    density: 0,
  ));

  @include mat.card-overrides((
    outlined-container-color: #fff,
    outlined-container-shape: 10px,
  ));

  @include mat.button-toggle-overrides((
    text-color: var(--mat-sys-primary),
    selected-state-text-color: var(--mat-sys-primary),
    divider-color: transparent
  ));
}

// Remove the warning message for Alpha usage
.vAygCK-api-load-alpha-banner {
  display: none !important;
}